<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Automation Test" parallel = "methods" thread-count = "5" verbose="1">
	<test name="UI Automation">
		<parameter name="browser" value="${browser}"/>
		<parameter name="isHeadless" value="${isHeadless}"/>
		<parameter name="isLambdaTest" value="true"/>
		
		<classes>
			<class name="com.ui.tests.LoginTest" />
		</classes>
	</test>
</suite>